<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>

    <script src="js/lib/jquery-1.9.1.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>

    <script src="js/app/model/score.js"></script>
    <script src="js/main.js"></script>

    <script src="js/app/app.js"></script>
    <script src="js/app/view/input_form.js"></script>

    <script src="js/app/view/table.js"></script>

</head>
<body>
<form id="inputForm" action="javascript:void(0)">
    名前:<input type="text" name="name" value="だれか">
    JavaScript:<input type="number" name="js" value="50">
    C++:<input type="number" name="cpp" value="50">
    Ruby:<input type="number" name="ruby" value="50">
    PHP:<input type="number" name="php" value="50">
    <button class="addButton">追加</button>
    <button class="clearButton">クリア</button>
</form>


<div id="table">

</div>


<script type="text/template" id="tableTpl">
    <table border="1">
        <caption>得点表</caption>
        <thead>
        <tr>
            <th>名前</th><th>JavaScript</th><th>C++</th><th>Ruby</th><th>PHP</th><th>削除</th>
        </tr>
        </thead>

        <tbody></tbody>
        <tfoot></tfoot>
    </table>
</script>

<script type="text/template" id="tableRowTpl">
    <tr>
        <td><%- name %></td>
        <td><%- js %></td>
        <td><%- cpp %></td>
        <td><%- ruby %></td>
        <td><%- php %></td>
        <td><button class="removeButton">削除</button></td>
    </tr>
</script>

</body>
</html>